/* your code here */
footer {
  background: #242424;
  color: #fff;
  width: 100%;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;
}

footer .content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .logo_name {
  font-size: 24px;
  font-weight: bold;
}
.media-icons {
  display: flex;
}

.media-icons a {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin-right: 12px;
}


.media-icons a:hover {
  color: #00acee;
}

.link-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.link-boxes .box {
  width: 200px;
}

.link-boxes .box .link_name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.link-boxes ul li {
  list-style: none;
  margin-bottom: 8px;
}

.link-boxes ul li a {
  color: #cfcfcf;
  text-decoration: none;
  transition: 0.3s;
}

.link-boxes ul li a:hover {
  color: #fff;
}

.bottom-details {
  width: 100%;
  background: #1b1b1b;
  padding: 15px 0;
  text-align: center;
  margin-top: 40px;
}

.bottom-details span {
  color: #bbb;
}

/* Responsive */
@media (max-width: 800px) {
  .link-boxes {
    flex-direction: column;
  }

  .link-boxes .box {
    width: 100%;
    margin-bottom: 20px;
  }

  footer .content .top {
    flex-direction: column;
    align-items: center;
  }
}
